@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gayathri|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amiko|Jacques+Francois+Shadow|Lexend+Zetta|Libre+Barcode+39+Extended+Text|Major+Mono+Display|Mallanna|Nanum+Gothic+Coding|PT+Mono|Quattrocento|Questrial|Scope+One|Spectral&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@400;500;600;700;800&display=swap');

.body1 {
  background-image: url("/Assets/Images/Untitled-1.gif");
  background-size: cover;
  display: flex;
  font-family: 'Shippori Mincho', serif;
  /* font-weight: 500; */
font-size:40px;
}



#bio, #links{
  flex:50%;
  height: 500px;
  margin-top: 3%;
  margin-left: 6%;
  margin-right:6%;
  padding: 3%;
  background:rgba(255, 255, 255, 0.864);
  border-radius: 10px;
  overflow-y:scroll;
}

@media only screen and (min-width: 400px) {

  .body1{
    display: block;
    padding-left:0%;
    padding-right:0%;
  }
  
  #bio, #links{
    height: 50%;
  }
}
